.marshaus_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;

}

.marshaus_page img {
    width: 100%;
    height: auto;
}

.marshaus_page_titleimage {
    width: 80%;
    flex-basis: content;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.marshaus_page_image_progress {
    width: 50%;
    height: auto;
}

.marshaus_page_text1 {
    width: 80%;

}

.marshaus_page_image_progress {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;



    scroll-behavior: smooth;
}

.marshaus_page_image_progress img {
    height: auto;
    width: 100%;
}


.marshaus_page_image_progress>div {
    flex: 0 0 100%;
    width: 100%;
    margin-right: 0;
    scroll-snap-align: start;
    flex-shrink: 0;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}