.lebensader_page_container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 300px 350px 450px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.lebensader_page_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lebensader_page_text1 {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 20px;
}

.lebensader_page_titleimage {
    grid-column: 2/3;
    grid-row: 1/3;
}

.lebensader_page_lageplan {
    grid-column: 1/3;
    grid-row: 3/5;
}

.lebensader_page_pikto_lebensader {
    grid-column: 1/2;
    grid-row: 5/6;
}

.lebensader_page_text_lebensader {
    grid-column: 2/3;
    grid-row: 5/6;
    margin: 20px;
}

.lebensader_page_pikto_baustruktur {
    grid-column: 1/2;
    grid-row: 6/7;
}

.lebensader_page_text_baustruktur {
    grid-column: 2/3;
    grid-row: 6/7;
    margin: 20px;
}


.lebensader_page_pikto_wegenetz {
    grid-column: 1/2;
    grid-row: 7/8;
}

.lebensader_page_text_wegenetz {
    grid-column: 2/3;
    grid-row: 7/8;
    margin: 20px;
}


.lebensader_page_pikto_gebäudehöhe {
    grid-column: 1/2;
    grid-row: 8/9;
}

.lebensader_page_text_gebäudehöhe {
    grid-column: 2/3;
    grid-row: 8/9;
    margin: 20px;
}

.lebensader_page_pikto_retentionsraum {
    grid-column: 2/3;
    grid-row: 9/10;
}

.lebensader_page_pikto_retentionsraum img {
    width: 100%;
    height: auto;
}

.lebensader_page_text_retentionsraum {
    grid-column: 1/2;
    grid-row: 9/10;
    margin: 20px;
}


.lebensader_page_grundriss_eg {
    grid-column: 2/3;
    grid-row: 11/13;
}

.lebensader_page_grundriss_og {
    grid-column: 2/3;
    grid-row: 13/15;
}

.lebensader_page_modellfoto_01 {
    grid-column: 1/2;
    grid-row: 11/12;
}

.lebensader_page_modellfoto_02 {
    grid-column: 1/2;
    grid-row: 12/13;
}

.lebensader_page_modellfoto_03 {
    grid-column: 1/2;
    grid-row: 13/14;
}

.lebensader_page_modellfoto_04 {
    grid-column: 1/2;
    grid-row: 14/15;
}

.lebensader_page_schnitt_a {
    grid-column: 1/3;
    grid-row: 17/18;
}

.lebensader_page_schnitt_b {
    grid-column: 1/3;
    grid-row: 16/17;
}

.lebensader_page_text_fassade {
    grid-column: 1/2;
    grid-row: 15/16;
    margin: 20px;
}

.lebensader_page_text_hof {
    grid-column: 2/3;
    grid-row: 15/16;
    margin: 20px;
}

.lebensader_page_visualisierung {
    grid-column: 1/3;
    grid-row: 18/20;
}