.marshaus_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;

}

.marshaus_page img {
    width: 100%;
    height: auto;
}

.marshaus_page_titleimage {
    width: 80%;
    flex-basis: content;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.marshaus_page_text1 {
    width: 80%;

}

.marshaus_page_carousel_picture img {
    height: auto;
    width: 100%;
}
